/*
  Color Mixins

  Example:
  #777777 lighten(@text-color, 46.5%)
  #bebebe lighten(@text-color, 74.5%)
*/

/* PLugins */
/* ====================================================== */
/* Style */
/* ====================================================== */
* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    font-family: 'open sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
}
p {
    line-height: 30px;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
a {
    color: #333333;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in ease-out;
    -moz-transition: all 0.2s ease-in ease-out;
    -o-transition: all 0.2s ease-in ease-out;
    transition: all 0.2s ease-in ease-out;
}
a:hover,
a:focus {
    color: #136084;
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
figure {
    margin: 0;
}
img {
    vertical-align: middle;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-rounded {
    border-radius: 6px;
}
.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all all 0.2s ease-in-out ease-out;
    -moz-transition: all all 0.2s ease-in-out ease-out;
    -o-transition: all all 0.2s ease-in-out ease-out;
    transition: all all 0.2s ease-in-out ease-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.img-circle {
    border-radius: 50%;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}
/* TYPOGRAPHY */
/* FORMS */
.default-form input {
    padding: 15px 20px;
    width: 100%;
    height: 50px;
    border-radius: 2px;
    /*text-transform: uppercase;*/
    font-size: 13px;
    background: #ffffff;
    border: 1px solid #ededed;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.default-form select {
    display: none;
}
.default-form textarea {
    padding: 15px 20px;
    width: 100%;
    height: 150px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 13px;
    background: #ffffff;
    border: 1px solid #ededed;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.default-form button {
    padding: 15px 20px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.5em;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in ease-out;
    -moz-transition: all 0.2s ease-in ease-out;
    -o-transition: all 0.2s ease-in ease-out;
    transition: all 0.2s ease-in ease-out;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.default-form button.btn-transparent {
    background: transparent;
    color: #ffffff;
}
.default-form button.btn-transparent:hover {
    background: #ffffff;
    color: #333333;
}
.default-form button.btn-blue {
    background: #136084;
}
/* BUTTONS */
/*.btn {*/
    /*padding: 15px 20px;*/
    /*height: 50px;*/
    /*display: inline-block;*/
    /*border-radius: 2px;*/
    /*text-transform: uppercase;*/
    /*font-size: 13px;*/
    /*-webkit-transition: 0.2s ease-in;*/
    /*-o-transition: 0.2s ease-in;*/
    /*transition: 0.2s ease-in;*/
    /*-webkit-transition: all 0.2s ease-in ease-out;*/
    /*-moz-transition: all 0.2s ease-in ease-out;*/
    /*-o-transition: all 0.2s ease-in ease-out;*/
    /*transition: all 0.2s ease-in ease-out;*/
    /*font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*}*/
.btn.btn-transparent-white {
    background: transparent;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.btn.btn-transparent-white:hover {
    background: #ffffff;
    color: #333333;
}
.btn.btn-transparent-gray {
    background: transparent;
    color: #808080;
    border: 1px solid #808080;
}
.btn.btn-transparent-gray:hover {
    background: #808080;
    color: #ffffff;
}
.btn.btn-gray-dark {
    background: #333333;
    color: #ffffff;
    border: 1px solid #333333;
}
/* HEADER */
#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 992px) {
    #header {
        top: 40px;
        display: none;
        background: #ffffff;
        z-index: 9999999;
    }
}
#header .header-top {
    position: relative;
    height: 40px;
    background: #ffffff;
}
@media (max-width: 992px) {
    #header .header-top {
        height: auto;
    }
}
#header .header-top .contact-info {
    padding: 10px 0;
}
@media (max-width: 992px) {
    #header .header-top .contact-info {
        border-bottom: 1px solid #ededed;
    }
}
#header .header-top .contact-info li {
    padding: 0 0 0 21px;
    border-right: 1px solid #ededed;
}
#header .header-top .contact-info li:first-child {
    padding: 0 25px 0 0;
}
@media (max-width: 992px) {
    #header .header-top .contact-info li:first-child {
        padding: 0;
    }
}
#header .header-top .contact-info li:last-child {
    border-right: none;
}
#header .header-top .contact-info li .fa {
    margin-right: 10px;
}
#header .header-top .contact-info li span {
    text-transform: uppercase;
    font-size: 12px;
}
@media (max-width: 992px) {
    #header .header-top .contact-info li {
        padding: 0;
        display: block;
        text-align: center;
        border: none;
    }
}
#header .header-top .contact-right {
    float: right;
}
@media (max-width: 992px) {
    #header .header-top .contact-right {
        float: none;
        width: 100%;
    }
}
#header .header-top .contact-right .social {
    padding: 10px 12px 10px 0;
    display: inline-block;
}
@media (max-width: 992px) {
    #header .header-top .contact-right .social {
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }
}
#header .header-top .contact-right .social li {
    padding: 0 2.5px;
}
#header .header-top .contact-right .social li a {
    color: #333333;
}
#header .header-top .contact-right .header-login {
    position: relative;
    padding: 10px 0;
    display: inline-block;
}
@media (max-width: 992px) {
    #header .header-top .contact-right .header-login {
        padding: 10px 0;
        width: 100%;
        border-top: 1px solid #ededed;
        text-align: center;
    }
}
#header .header-top .contact-right .header-login .fa {
    margin-right: 10px;
}
#header .header-top .contact-right .header-login .header-btn {
    padding: 0 20px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
    border: 1px solid #ededed;
    border-width: 0 1px;
    line-height: 20px;
}
@media (max-width: 992px) {
    #header .header-top .contact-right .header-login .header-btn {
        border: none;
    }
}
#header .header-top .contact-right .header-login .header-form {
    position: absolute;
    /*padding-top: 19px;*/
    /*top: 20px;*/
    top: 39px;
    right: -17px;
    display: none;
    z-index: 99;
}
@media (max-width: 992px) {
    #header .header-top .contact-right .header-login .header-form {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
    }
}
#header .header-top .contact-right .header-login .header-form form {
    padding: 30px;
    width: 270px;
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
@media (max-width: 992px) {
    #header .header-top .contact-right .header-login .header-form form {
        padding: 0 0 10px 0;
        margin: 0 auto;
        display: block;
        box-shadow: none;
        width: 250px;
    }
}
#header .header-top .contact-right .header-login .header-form form .alert-message {
    display: none;
}
#header .header-top .contact-right .header-login .header-form form .form-row {
    margin-bottom: 20px;
    text-align: left;
}
#header .header-top .contact-right .header-login .header-form form .form-row input {
    width: 100%;
}
#header .header-top .contact-right .header-login .header-form form .form-row button {
    width: 100%;
    color: #ffffff;
    border: 1px solid #136084;
}
#header .header-top .contact-right .header-login .header-form form .form-row.forgot-password {
    margin: 0;
}
#header .header-top .contact-right .header-login .header-form form .form-row.register {
    margin: 0;
}
#header .header-top .contact-right .header-language {
    position: relative;
    padding: 0 0 0 20px;
    display: inline-block;
}
@media (max-width: 992px) {
    #header .header-top .contact-right .header-language {
        padding: 10px 0;
        width: 100%;
        text-align: center;
        border: 1px solid #ededed;
        border-width: 1px 0;
    }
}
#header .header-top .contact-right .header-language .fa {
    margin-right: 10px;
}
#header .header-top .contact-right .header-language .header-btn {
    padding: 0;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
    border: none;
    line-height: 20px;
}
#header .header-top .contact-right .header-language .header-nav {
    position: absolute;
    padding-top: 19px;
    top: 10px;
    right: 0;
    display: none;
    z-index: 9999;
}
@media (max-width: 992px) {
    #header .header-top .contact-right .header-language .header-nav {
        position: relative;
        padding: 10px 0;
        display: none;
        top: 0;
        left: 0;
    }
}
#header .header-top .contact-right .header-language .header-nav ul {
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
@media (max-width: 992px) {
    #header .header-top .contact-right .header-language .header-nav ul {
        box-shadow: none;
    }
}
#header .header-top .contact-right .header-language .header-nav ul li:last-child a {
    border-bottom: none;
}
@media (max-width: 992px) {
    #header .header-top .contact-right .header-language .header-nav ul li {
        display: inline-block;
    }
}
#header .header-top .contact-right .header-language .header-nav ul li a {
    padding: 15px 20px;
    display: block;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
    color: #333333;
    text-transform: uppercase;
    font-size: 13px;
    text-align: left;
}
@media (max-width: 992px) {
    #header .header-top .contact-right .header-language .header-nav ul li a {
        padding: 5px 10px 0 10px;
        border: none;
    }
}
#header .header-top .contact-right .header-language .header-nav ul li a:hover {
    background: #136084;
    color: #ffffff;
}
#header .header-navi {
    position: relative;
    background: rgba(255, 255, 255, 0.75);
}
@media (max-width: 992px) {
    #header .header-navi {
        padding-bottom: 10px;
    }
}
#header .header-navi .navbar-nav {
    position: relative;
    width: 100%;
}
@media (max-width: 992px) {
    #header .header-navi .navbar-nav {
        margin: 0 auto;
        display: block;
        width: 250px;
        text-align: left !important;
        float: none !important;
    }
}
#header .header-navi .navbar-nav li {
    position: relative;
    display: inline-block;
    float: none !important;
}
@media (max-width: 992px) {
    #header .header-navi .navbar-nav li {
        width: 100%;
    }
}
#header .header-navi .navbar-nav li:last-child a {
    /*padding-right: 0;*/
}
#header .header-navi .navbar-nav li.active a {
    /*color: #136084;*/
    color: #FF8100;
}
#header .header-navi .navbar-nav li .submenu-toggle {
    padding-top: 10px;
    display: none;
    background: transparent;
    color: #333333;
    border: none;
    cursor: pointer;
}
@media (max-width: 992px) {
    #header .header-navi .navbar-nav li .submenu-toggle {
        float: right;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
}
#header .header-navi .navbar-nav li.has-submenu ul {
    position: absolute;
    left: -30px;
    display: none;
    width: 220px;
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
@media (max-width: 992px) {
    #header .header-navi .navbar-nav li.has-submenu ul {
        position: relative;
        left: 0;
        width: 250px;
        max-width: 250px;
        box-shadow: none;
    }
}
#header .header-navi .navbar-nav li.has-submenu ul ul {
    margin-top: -60px;
    left: 220px;
}
@media (max-width: 992px) {
    #header .header-navi .navbar-nav li.has-submenu ul ul {
        left: 0;
        margin-top: 0;
    }
    #header .header-navi .navbar-nav li.has-submenu ul ul li > a {
        padding-left: 40px !important;
    }
}
#header .header-navi .navbar-nav li.has-submenu ul li {
    width: 100%;
}
#header .header-navi .navbar-nav li.has-submenu ul li:last-child a {
    border-bottom: none;
}
#header .header-navi .navbar-nav li.has-submenu ul li .submenu-toggle {
    position: absolute;
    padding-top: 0;
    top: 20px;
    right: 25px;
    display: none;
    background: transparent;
    color: #333333;
    border: none;
    cursor: pointer;
}
@media (max-width: 992px) {
    #header .header-navi .navbar-nav li.has-submenu ul li .submenu-toggle {
        padding: 0 5px;
        right: 0;
        top: 10px;
        display: block;
    }
}
#header .header-navi .navbar-nav li.has-submenu ul li a {
    padding: 20px 30px;
    display: block;
    height: auto;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
    color: #333333;
    text-transform: uppercase;
    font-size: 13px;
    text-align: left;
}
@media (max-width: 992px) {
    #header .header-navi .navbar-nav li.has-submenu ul li a {
        padding: 10px 0 0 20px;
        height: auto;
        border-bottom: none;
    }
}
#header .header-navi .navbar-nav li.has-submenu ul li a .submenu-toggle {
    display: block;
}
@media (max-width: 992px) {
    #header .header-navi .navbar-nav li.has-submenu ul li a .submenu-toggle {
        display: none;
    }
}
#header .header-navi .navbar-nav li.has-submenu ul li a:hover {
    background: #136084;
    color: #ffffff;
}
@media (max-width: 992px) {
    #header .header-navi .navbar-nav li.has-submenu ul li a:hover {
        background: transparent;
        color: #136084;
    }
}
#header .header-navi .navbar-nav li.has-submenu ul li a:hover .submenu-toggle {
    color: #ffffff;
}
#header .header-navi .navbar-nav li a {
    /*padding: 36px 40px 36px 0;*/
    padding: 36px 20px;
    /*height: 90px;*/
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
}
@media (max-width: 992px) {
    #header .header-navi .navbar-nav li a {
        padding: 10px 0 0 0;
        height: auto;
    }
}
#header .header-navi .navbar-nav li a:hover {
    background: transparent;
}
@media (max-width: 1200px) {
    #header .header-navi .navbar-nav li a {
        padding-right: 20px;
    }
}
.header-logo {
    position: absolute;
    left: 50%;
    margin-left: -80px;
    top: 0;
    z-index: 999999;
}
@media (max-width: 992px) {
    .header-logo {
        top: 40px;
    }
}
.header-logo .header-logo-inner {
    margin: 0 auto;
    width: 160px;
    height: 150px;
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
#header-toggle {
    display: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}
@media (max-width: 992px) {
    #header-toggle {
        display: block;
    }
}
#header-toggle .fa {
    font-size: 18px;
}
/* FOOTER */
#footer {
    position: relative;
}
#footer .footer-top {
    padding: 30px 0 0 0;
    background: #333333 url(../img/footer-bg.jpg) no-repeat center;
}
#footer .footer-top .logo-footer {
    padding: 0 0 30px 0;
}
#footer .footer-top .logo-footer img {
    margin: 0 auto;
}
#footer .footer-top .widget {
    margin-bottom: 50px;
}
#footer .footer-top .widget .title {
    margin: 0 0 35px 0;
    color: #ffffff;
}
#footer .footer-top .widget p {
    color: #ffffff;
    opacity: .3;
}
#footer .footer-top .widget.widget-news ul li:last-child a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#footer .footer-top .widget.widget-news ul li a {
    padding: 15px 25px 15px 0;
    display: block;
    color: #ffffff;
    opacity: .7;
    font-family: 'open sans';
    text-transform: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#footer .footer-top .widget.widget-news ul li a:hover {
    color: #ffffff;
    opacity: 1;
}
#footer .footer-top .widget.widget-news ul li a:before {
    padding: 0 10px;
    content: "\f0da";
    font-family: fontAwesome;
}
#footer .footer-top .widget.widget-newsletter form {
    margin: 0 105px 30px 0;
}
#footer .footer-top .widget.widget-newsletter form input {
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
}
#footer .footer-top .widget.widget-newsletter form button {
    position: absolute;
    top: 50px;
    right: 15px;
    width: 100px;
    height: 51px;
}
#footer .footer-top .widget.widget-newsletter .social .title {
    margin: 0 0 20px 0;
    line-height: 42px;
}
@media (max-width: 992px) {
    #footer .footer-top .widget.widget-newsletter .social .title {
        margin-bottom: 50px;
    }
}
#footer .footer-top .widget.widget-newsletter .social ul li:last-child {
    padding-right: 0;
}
#footer .footer-top .widget.widget-newsletter .social ul li a {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
}
#footer .footer-top .widget.widget-newsletter .social ul li a:hover {
    color: #ffffff;
}
#footer .footer-copyrights {
    padding: 20px 0;
    text-align: center;
    background: #222222;
}
#footer .footer-copyrights p {
    margin: 0;
    color: #ccc;
}
#footer .footer-copyrights p a {
    color: #ffffff;
}
/* WIDGETS */
/* TABS */
.tab-pane {
    display: none;
}
.tab-pane.active {
    display: block;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.fade.in {
    opacity: 1;
}
.modal-backdrop.fade.in {
    opacity: .5;
}
/* SHORTCODES */
.custom-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.css-table {
    display: table;
    width: 100%;
    height: 100%;
}
.css-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.preamble {
    margin-bottom: 90px;
    text-align: center;
}
.preamble h3 {
    margin-top: 0;
}
.preamble h3:after {
    margin-top: 15px;
    display: block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    color: #333333;
    -moz-osx-font-smoothing: grayscale;
    content: "\f005 \f005 \f005 \f005 \f005";
    font-size: 14px;
}
.preamble p {
    margin: 15px 0 0 0;
    font-size: 14px;
    line-height: 30px;
}
.preamble.light h3 {
    color: #ffffff;
}
.preamble.light h3:after {
    color: #ffffff;
}
.preamble.light p {
    color: #ffffff;
}
#media-query-breakpoint {
    display: none;
}
#media-query-breakpoint,
#media-query-breakpoint span:before {
    content: "1200";
}
@media (max-width: 1200px) {
    #media-query-breakpoint,
    #media-query-breakpoint span:before {
        content: "1200";
    }
}
@media (max-width: 991px) {
    #media-query-breakpoint,
    #media-query-breakpoint span:before {
        content: "991";
    }
}
@media (max-width: 768px) {
    #media-query-breakpoint,
    #media-query-breakpoint span:before {
        content: "768";
    }
}
@media (max-width: 480px) {
    #media-query-breakpoint,
    #media-query-breakpoint span:before {
        content: "480";
    }
}
/* BANNER */
#banner {
    position: relative;
    height: 100vh;
    min-height: 650px;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 768px) {
    #banner {
        min-height: 920px;
    }
}
#banner .banner-bg {
    position: relative;
    height: 100vh;
    min-height: 650px;
}
@media (max-width: 768px) {
    #banner .banner-bg {
        min-height: 920px;
    }
}
@media (max-width: 992px) {
    #banner .banner-bg .owl-buttons {
        display: none;
    }
}
#banner .banner-bg .owl-buttons .owl-prev {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 30px;
    z-index: 99;
    display: inline-block;
    cursor: pointer;
}
@media (max-width: 1366px) {
    #banner .banner-bg .owl-buttons .owl-prev {
        margin-left: 15px;
    }
}
#banner .banner-bg .owl-buttons .owl-next {
    position: absolute;
    margin: 0;
    right: 30px;
    top: 50%;
    z-index: 99;
    display: inline-block;
    cursor: pointer;
}
@media (max-width: 1366px) {
    #banner .banner-bg .owl-buttons .owl-next {
        margin-right: 15px;
    }
}
#banner .banner-bg .owl-buttons .fa {
    font-size: 80px;
    color: #ffffff;
}
#banner .banner-bg .banner-bg-item {
    height: 100vh;
    min-height: 650px;
    background-size: cover;
    background-position: center;
}
@media (max-width: 768px) {
    #banner .banner-bg .banner-bg-item {
        min-height: 920px;
    }
}
#banner .css-table {
    position: absolute;
    top: 0;
}
@media (max-width: 768px) {
    #banner .css-table {
        padding-top: 190px;
    }
}
#banner #hero-tabs {
    padding-top: 140px;
}
@media (max-width: 992px) {
    #banner #hero-tabs {
        padding-top: 30px;
    }
}
#banner #hero-tabs .tab-title-list {
    border-bottom: 2px solid #ffffff;
}
#banner #hero-tabs .tab-title-list li {
    margin-right: 3px;
    float: left;
}
@media (max-width: 768px) {
    #banner #hero-tabs .tab-title-list li {
        float: none;
    }
}
#banner #hero-tabs .tab-title-list li.active a {
    color: #333333;
    background: #ffffff;
}
#banner #hero-tabs .tab-title-list li.active a:hover {
    color: #333333;
    background: #ffffff;
}
#banner #hero-tabs .tab-title-list li a {
    padding: 15px 0;
    width: 200px;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 992px) {
    #banner #hero-tabs .tab-title-list li a {
        width: 170px;
    }
}
@media (max-width: 768px) {
    #banner #hero-tabs .tab-title-list li a {
        width: 100%;
    }
}
#banner #hero-tabs .tab-title-list li a:hover {
    color: #ffffff;
    background: #333333;
}
#banner #hero-tabs .tab-content-list {
    padding: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
}
#banner #hero-tabs .tab-content-list .tab-content {
    display: none;
}
#banner #hero-tabs .tab-content-list .tab-content.active {
    display: list-item;
}
#banner #hero-tabs .tab-content-list .tab-content span {
    position: relative;
    margin-right: 16px;
    display: inline-block;
    vertical-align: top;
}
#banner #hero-tabs .tab-content-list .tab-content span.calendar {
    width: 220px;
}
@media (max-width: 1200px) {
    #banner #hero-tabs .tab-content-list .tab-content span.calendar {
        width: 170px;
    }
}
@media (max-width: 992px) {
    #banner #hero-tabs .tab-content-list .tab-content span.calendar {
        margin-bottom: 30px;
        width: 150px;
    }
}
@media (max-width: 768px) {
    #banner #hero-tabs .tab-content-list .tab-content span.calendar {
        width: 100%;
    }
}
#banner #hero-tabs .tab-content-list .tab-content span.select-box {
    width: 200px;
}
@media (max-width: 1200px) {
    #banner #hero-tabs .tab-content-list .tab-content span.select-box {
        width: 155px;
    }
}
@media (max-width: 992px) {
    #banner #hero-tabs .tab-content-list .tab-content span.select-box {
        margin-bottom: 30px;
        width: 130px;
    }
}
@media (max-width: 768px) {
    #banner #hero-tabs .tab-content-list .tab-content span.select-box {
        width: 100%;
    }
}
#banner #hero-tabs .tab-content-list .tab-content span.submit-btn {
    margin-right: 0;
    width: 125px;
    text-align: center;
}
#banner #hero-tabs .tab-content-list .tab-content span input {
    position: relative;
    color: #ffffff;
    /*background: rgba(255, 255, 255, 0.3);*/
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
#banner #hero-tabs .tab-content-list .tab-content span .select-clone {
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    background: #ffffff;
    z-index: 99;
}
#banner #hero-tabs .tab-content-list .tab-content span .select-clone li {
    padding: 20px;
    display: block;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
    color: #333333;
    text-transform: uppercase;
    font-size: 13px;
    text-align: left;
}
#banner #hero-tabs .tab-content-list .tab-content span .select-clone li:hover {
    background: #136084;
    color: #ffffff;
}
#banner #hero-tabs .tab-content-list .tab-content span .select-clone li:last-child {
    border-bottom: none;
}
#banner #hero-tabs .tab-content-list .tab-content span .advanced {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    font-size: 11px;
    color: #ffffff;
    text-transform: uppercase;
}
#banner #hero-tabs .tab-content-list .tab-content span .fa {
    position: absolute;
    padding: 5px;
    margin-top: -10px;
    right: 10px;
    top: 50%;
    color: #ffffff;
    cursor: pointer;
}
/* CALENDAR */
.ui-datepicker {
    width: 220px;
    background: #ffffff;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 20px 0;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    color: #333333;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
    display: none;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    color: #333333;
    -moz-osx-font-smoothing: grayscale;
    content: "\f104";
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span {
    display: none;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
    text-align: center;
    text-transform: uppercase;
}
.ui-datepicker .ui-datepicker-calendar {
    width: 100%;
    border-top: 1px solid #ededed;
    border-spacing: 1% 2em;
}
.ui-datepicker .ui-datepicker-calendar thead tr th {
    padding: 5px;
    font-size: 13px;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td {
    padding: 5px;
    text-align: center;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td a {
    transition-duration: 0s;
}
.ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-unselectable .ui-state-default {
    color: #c7c7c7;
}
.ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-unselectable:hover {
    cursor: not-allowed;
}
.ui-datepicker .ui-datepicker-calendar tbody .ui-state-default {
    color: #000;
}
.ui-datepicker .ui-datepicker-calendar tbody td:not(.ui-datepicker-unselectable) {
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar tbody td:not(.ui-datepicker-unselectable):hover {
    background: #136084;
}
.ui-datepicker .ui-datepicker-calendar tbody td:not(.ui-datepicker-unselectable):hover .ui-state-default {
    color: #fff;
}
/* ABOUT */
.about {
    position: relative;
    padding: 100px 0 60px 0;
}
.about .feature {
    margin-bottom: 20px;
}
.about .feature h4 {
    margin: 20px 0 15px 0;
}
.about .feature .overlay-content {
    margin-top: -25px;
}
.overlay {
    position: relative;
    display: block;
    overflow: hidden;
}
.overlay .overlay-shadow {
    position: absolute;
    margin: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background: rgba(19, 96, 132, 0.7);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.overlay .overlay-shadow .overlay-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.overlay:hover .overlay-shadow {
    visibility: visible;
    opacity: 1;
    z-index: 999;
}
.overlay:hover .overlay-content {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* TESTIMONIALS */
.testimonials {
    position: relative;
    padding: 100px 0 70px 0;
}
.testimonials #video_testimonials {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.testimonials .video_gradient {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(19, 96, 132, 0.7);
    z-index: 0;
}
.testimonials .preamble {
    margin-bottom: 15px;
}
.testimonials blockquote {
    padding: 0px;
    margin: 20px 0px 70px 0;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    border: medium none;
    z-index: 99;
    color: #ffffff;
    font-family: "Libre Baskerville", serif;
}
.testimonials blockquote cite {
    margin-bottom: 25px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
}
.testimonials blockquote cite span {
    display: block;
    font-size: 14px;
    line-height: 14px;
}
.testimonials blockquote .stars {
    margin-bottom: 20px;
    line-height: 25px;
}
.testimonials blockquote:after {
    margin: 25px auto 0px;
    display: block;
    font: 28px/28px "FontAwesome";
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    content: "\f10e";
}
.testimonials .owl-pagination {
    text-align: center;
}
.testimonials .owl-pagination .owl-page {
    cursor: pointer;
    border: 2px solid #ffffff;
    margin-right: 2px;
    margin-left: 2px;
    display: inline-block;
}
.testimonials .owl-pagination .owl-page.active span {
    background: #ffffff;
}
.testimonials .owl-pagination .owl-page span {
    display: block;
    width: 10px;
    height: 10px;
    background: transparent;
    padding: 2px;
    margin: 2px;
}
/* CLIENTS */
.partners {
    position: relative;
    padding: 50px 0;
    background: #ededed;
}
.partners.partners-white {
    background: #ffffff;
}
.partners .preamble {
    margin-bottom: 40px;
}
.partners .owl-item img {
    margin: 0 auto;
    width: 75%;
}
/* SUPERTABS */
.supertabs {
    position: relative;
    padding: 60px 0;
}
.supertabs .tab-navigation {
    padding-right: 0;
}
@media (max-width: 992px) {
    .supertabs .tab-navigation {
        padding-right: 15px;
    }
}
.supertabs .tab-navigation ul li {
    margin-left: 10px;
    border: 1px solid #e0e0e0;
    border-width: 1px 1px 0 1px;
}
.supertabs .tab-navigation ul li:last-child {
    border-bottom: 1px solid #e0e0e0;
}
.supertabs .tab-navigation ul li.active {
    margin-left: 0;
    border-left: 2px solid #136084;
}
.supertabs .tab-navigation ul li.active a {
    background: #ffffff;
}
.supertabs .tab-navigation ul li a {
    padding: 45px 50px;
    display: block;
    background: #ededed;
}
.supertabs .tab-navigation ul li a .title {
    margin: 0 0 3px 0;
    font-size: 14px;
}
.supertabs .tab-navigation ul li a .subtitle {
    margin: 0;
    color: #808080;
    font-size: 13px;
    font-weight: normal;
}
.supertabs .tab-content {
    padding-left: 0;
}
@media (max-width: 992px) {
    .supertabs .tab-content {
        padding-left: 15px;
    }
}
.supertabs .tab-content .tab-pane {
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 992px) {
    .supertabs .tab-content .tab-pane {
        min-height: 350px !important;
    }
}
.supertabs .tab-content .tab-pane header {
    padding: 40px 0 0 50px;
}
.supertabs .tab-content .tab-pane header .title {
    margin: 0 0 3px 0;
    font-size: 14px;
}
.supertabs .tab-content .tab-pane header .subtitle {
    margin: 0;
    color: #808080;
    font-size: 13px;
    font-weight: normal;
}
.supertabs .tab-content .tab-pane p {
    position: absolute;
    bottom: 35px;
    left: 50px;
    right: 50px;
}
@media (max-width: 992px) {
    .supertabs .tab-content .tab-pane p {
        position: relative;
        padding: 0 50px;
        margin-top: 50px;
        left: auto;
        right: auto;
        bottom: auto;
    }
}
/* HEADER SECTION */
.header-section {
    position: relative;
    padding: 215px 0 90px 0;
    background: #222222;
}
.header-section #gradient {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: .5;
    background: #172431;
}
.header-section.listing {
    background: url(../img/header-listing.jpg) no-repeat center;
    background-size: cover;
}
.header-section.contact {
    background: url(../img/header-listing.jpg) no-repeat center;
    background-size: cover;
}
.header-section.error {
    background: url(../img/header-listing.jpg) no-repeat center;
    background-size: cover;
    padding: 155px 0 20px 0;
}
.header-section.room {
    padding: 215px 0 160px 0;
    background: url(../img/header-room.jpg) no-repeat center;
    background-size: cover;
}
.header-section .title-section {
    margin: 0;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
}
@media (max-width: 480px) {
    .header-section .title-section {
        float: none !important;
    }
}
@media (max-width: 480px) {
    .header-section .breadcrumbs {
        float: none !important;
    }
}
.header-section .breadcrumbs li {
    padding: 6px 0;
}
.header-section .breadcrumbs li:last-child:after {
    display: none;
}
.header-section .breadcrumbs li:after {
    padding: 0 5px 0 10px;
    content: "/";
    color: #ffffff;
}
.header-section .breadcrumbs li a {
    color: #ffffff;
}
.header-slider {
    position: relative;
    width: 100%;
    padding-bottom: 36.25%;
}
@media (max-width: 900px) {
    .header-slider {
        padding-bottom: 56.25%;
    }
}
@media (max-width: 550px) {
    .header-slider {
        padding-bottom: 75%;
    }
}
.header-slider .background-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.header-slider .owl-buttons .owl-prev {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 30px;
    z-index: 99;
    display: inline-block;
    cursor: pointer;
}
.header-slider .owl-buttons .owl-next {
    position: absolute;
    margin: 0;
    right: 30px;
    top: 50%;
    z-index: 99;
    display: inline-block;
    cursor: pointer;
}
.header-slider .owl-buttons .fa {
    font-size: 80px;
    color: #ffffff;
}
.header-slider img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
/* LISTING */
#listing {
    position: relative;
    padding: 60px 0;
    background: #f0f0f0;
}
#listing .fleets-filters {
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#listing .fleets-filters .toggle-title {
    position: relative;
    padding: 27px 30px;
    margin: 0;
    display: block;
    border-bottom: 1px solid #ededed;
}
#listing .fleets-filters .toggle-title:after {
    position: absolute;
    padding: 5px;
    display: block;
    top: 21px;
    right: 25px;
    font-size: 16px;
    color: #555555;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    cursor: pointer;
}
#listing .fleets-filters .toggle-content {
    display: block;
}
@media (max-width: 992px) {
    #listing .fleets-filters .toggle-content {
        display: none;
    }
}
#listing .fleets-filters .toggle-content .search {
    position: relative;
    padding: 30px;
    border-bottom: 1px solid #ededed;
}
#listing .fleets-filters .toggle-content .search input {
    position: relative;
}
#listing .fleets-filters .toggle-content .search .fa {
    position: absolute;
    right: 55px;
    top: 48px;
    color: #808080;
}
#listing .fleets-filters .toggle-content .general {
    padding: 0 30px 25px 30px;
}
#listing .fleets-filters .toggle-content .general .title {
    margin: 30px 0;
}
#listing .fleets-filters .toggle-content .general span {
    /*#listing .fleets-filters .toggle-content .general form span {*/
    position: relative;
    display: block;
    margin-bottom: 20px;
}
#listing .fleets-filters .toggle-content .general span .fa {
    /*#listing .fleets-filters .toggle-content .general form span .fa {*/
    position: absolute;
    right: 25px;
    top: 18px;
    color: #808080;
    cursor: pointer;
}
#listing .fleets-filters .toggle-content .general span select {
    /*#listing .fleets-filters .toggle-content .general form span select {*/
    display: none;
}
#listing .fleets-filters .toggle-content .general span .select-clone {
    /*#listing .fleets-filters .toggle-content .general form span .select-clone {*/
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    background: #ffffff;
    border: 1px solid #ededed;
    border-width: 0 1px 1px 1px;
    z-index: 99;
}
#listing .fleets-filters .toggle-content .general span .select-clone li {
    /*#listing .fleets-filters .toggle-content .general form span .select-clone li {*/
    padding: 20px;
    display: block;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
    color: #333333;
    text-transform: uppercase;
    font-size: 13px;
    text-align: left;
}
#listing .fleets-filters .toggle-content .general  span .select-clone li:hover {
    /*#listing .fleets-filters .toggle-content .general form span .select-clone li:hover {*/
    background: #136084;
    color: #ffffff;
}
#listing .fleets-filters .toggle-content .general span .select-clone li:last-child {
    /*#listing .fleets-filters .toggle-content .general form span .select-clone li:last-child {*/
    border-bottom: none;
}
#listing .fleets-filters .toggle-content .general .additional-filter-list li {
    line-height: 30px;
}
#listing .fleets-filters .toggle-content .general .additional-filter-list li .checkbox-input input {
    display: none;
}
#listing .fleets-filters .toggle-content .general .additional-filter-list li .checkbox-input.active label:before {
    top: 0px;
    font: 14px/17px "fontawesome";
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
}
#listing .fleets-filters .toggle-content .general .additional-filter-list li .checkbox-input label {
    margin-bottom: 0px;
    cursor: pointer;
    text-transform: uppercase;
}
#listing .fleets-filters .toggle-content .general .additional-filter-list li .checkbox-input label:before {
    position: relative;
    display: inline-block;
    top: 3px;
    margin-right: 10px;
    width: 17px;
    height: 17px;
    line-height: 30px;
    text-align: center;
    color: #808080;
    border: 1px solid #808080;
    content: "";
}
#listing .fleets-filters .toggle-content .slider-range-container {
    position: relative;
}
#listing .fleets-filters .toggle-content .slider-range-container .slider-range {
    position: relative;
    margin-bottom: 10px;
    display: block;
    height: 10px;
    line-height: 1px;
    background: #ededed;
}
#listing .fleets-filters .toggle-content .slider-range-container .slider-range .ui-slider-range {
    display: block;
    position: absolute;
    top: 0;
    height: 10px;
    line-height: 1px;
    background: #222222;
}
#listing .fleets-filters .toggle-content .slider-range-container .slider-range .ui-slider-handle {
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    top: -2px;
    border: 3px solid transparent;
    background: #222222;
}
#listing .fleets-filters .toggle-content .slider-range-container .slider-range .ui-slider-handle:last-child {
    margin-left: -14px;
}
#listing .fleets-filters .toggle-content .slider-range-container input {
    padding: 5px;
    height: 30px;
    text-align: center;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 13px;
    background: #ffffff;
    border: 1px solid #ededed;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#listing .fleets-filters .toggle-content .slider-range-container .range-from {
    float: left;
    width: 70px;
}
#listing .fleets-filters .toggle-content .slider-range-container .range-to {
    float: right;
    width: 70px;
}
#listing .fleets-filters .toggle-content .buttons {
    position: relative;
    padding: 30px 30px 20px 30px;
    display: inline-block;
    width: 100%;
    min-height: 110px;
    border-top: 1px solid #ededed;
}
@media (max-width: 1200px) {
    #listing .fleets-filters .toggle-content .buttons .btn {
        margin-bottom: 10px;
        width: 100%;
    }
}
#listing .special-offers {
    width: 100%;
    display: inline-block;
    float: left;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#listing .special-offers.listing {
    display: none;
}
@media (max-width: 992px) {
    #listing .special-offers.sidebar {
        display: none;
    }
    #listing .special-offers.listing {
        margin-top: 30px;
        display: block;
    }
}
#listing .special-offers .title-section {
    position: relative;
    padding: 27px 30px;
    margin: 0;
    display: block;
    border-bottom: 1px solid #ededed;
}
#listing .special-offers ul {
    padding: 30px 30px 10px 30px;
}
#listing .special-offers ul li {
    margin-bottom: 20px;
    min-height: 50px;
}
#listing .special-offers ul li .title {
    padding-left: 70px;
    margin: 0 0 5px 0;
    display: block;
}
#listing .special-offers ul li .price {
    padding-left: 20px;
    font-family: "Libre Baskerville", serif;
    color: #222222;
}
@media (max-width: 1200px) {
    #listing .special-offers ul li .price {
        font-size: 11px;
    }
}
#listing .special-offers ul li .thumbnail {
    float: left;
    width: 50px;
    height: 50px;
}
#listing .special-offers ul li .thumbnail img {
    width: 100%;
    height: 100%;
}
#listing .listing-content .listing-pagination {
    position: relative;
    padding: 20px 30px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#listing .listing-content .listing-pagination.footer {
    margin-bottom: 0;
}
#listing .listing-content .listing-pagination .title {
    padding: 7px 0;
    margin: 0;
}
@media (max-width: 570px) {
    #listing .listing-content .listing-pagination .title {
        float: none !important;
        text-align: center;
    }
}
#listing .listing-content .listing-pagination .select-box {
    position: relative;
}
@media (max-width: 570px) {
    #listing .listing-content .listing-pagination .select-box {
        text-align: center;
        width: 100%;
    }
}
#listing .listing-content .listing-pagination .select-box select {
    display: none;
}
#listing .listing-content .listing-pagination .select-box input {
    position: relative;
    padding: 3px 10px;
    width: 130px;
    height: 30px;
    color: #808080;
    background: #ffffff;
    border: 1px solid #ededed;
    cursor: pointer;
}
@media (max-width: 570px) {
    #listing .listing-content .listing-pagination .select-box input {
        width: 100%;
    }
}
#listing .listing-content .listing-pagination .select-box .fa {
    position: absolute;
    padding: 5px;
    top: 4px;
    right: 5px;
    color: #808080;
    cursor: pointer;
}
#listing .listing-content .listing-pagination .select-box .select-clone {
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    background: #ffffff;
    border: 1px solid #ededed;
    border-width: 0 1px 1px 1px;
    z-index: 99;
}
#listing .listing-content .listing-pagination .select-box .select-clone li {
    padding: 20px;
    display: block;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
    color: #333333;
    text-transform: uppercase;
    font-size: 13px;
    text-align: left;
}
#listing .listing-content .listing-pagination .select-box .select-clone li:hover {
    background: #136084;
    color: #ffffff;
}
#listing .listing-content .listing-pagination .select-box .select-clone li:last-child {
    border-bottom: none;
}
#listing .listing-content .listing-pagination .pagination {
    margin-right: 45px;
}
@media (max-width: 570px) {
    #listing .listing-content .listing-pagination .pagination {
        margin-right: 0;
        float: none !important;
        text-align: center;
    }
}
#listing .listing-content .listing-pagination .pagination.no-margin {
    margin: 0;
}
#listing .listing-content .listing-pagination .pagination li a {
    padding: 6px 0;
    display: inline-block;
    color: #808080;
}
#listing .listing-content .listing-room-list {
    position: relative;
    padding: 5px 30px 5px 5px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    min-height: 210px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
    #listing .listing-content .listing-room-list {
        padding: 5px 15px;
    }
}
#listing .listing-content .listing-room-list .thumbnail {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 200px;
    height: 200px;
}
@media (max-width: 768px) {
    #listing .listing-content .listing-room-list .thumbnail {
        position: relative;
        margin: 0 auto;
    }
}
#listing .listing-content .listing-room-list .thumbnail img {
    width: 100%;
    height: 100%;
}
#listing .listing-content .listing-room-list .thumbnail .owl-buttons {
    display: none;
}
#listing .listing-content .listing-room-list .thumbnail .owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: rgba(0, 0, 0, 0.4);
}
#listing .listing-content .listing-room-list .thumbnail .owl-prev:hover {
    background: #222222;
}
#listing .listing-content .listing-room-list .thumbnail .owl-prev .fa {
    color: #ffffff;
}
#listing .listing-content .listing-room-list .thumbnail .owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: rgba(0, 0, 0, 0.4);
}
#listing .listing-content .listing-room-list .thumbnail .owl-next:hover {
    background: #222222;
}
#listing .listing-content .listing-room-list .thumbnail .owl-next .fa {
    color: #ffffff;
}
#listing .listing-content .listing-room-list .listing-room-content {
    padding-left: 230px;
}
@media (max-width: 768px) {
    #listing .listing-content .listing-room-list .listing-room-content {
        padding-left: 0;
    }
}
#listing .listing-content .listing-room-list .listing-room-content header {
    padding-bottom: 17px;
    margin-bottom: 17px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ededed;
}
#listing .listing-content .listing-room-list .listing-room-content header .title {
    margin: 17px 0 5px 0;
}
@media (max-width: 480px) {
    #listing .listing-content .listing-room-list .listing-room-content header .pull-right,
    #listing .listing-content .listing-room-list .listing-room-content header .pull-left {
        float: none !important;
    }
}
#listing .listing-content .listing-room-list .listing-room-content header .tags li:after {
    padding-left: 10px;
    color: #808080;
    content: "/";
}
#listing .listing-content .listing-room-list .listing-room-content header .tags li:last-child:after {
    display: none;
}
#listing .listing-content .listing-room-list .listing-room-content header .tags li:first-child {
    padding-left: 0;
}
#listing .listing-content .listing-room-list .listing-room-content header .tags li a {
    color: #808080;
}
#listing .listing-content .listing-room-list .listing-room-content header .tags li a:hover {
    color: #676767;
}
#listing .listing-content .listing-room-list .listing-room-content header .price {
    padding-top: 30px;
    display: block;
    font-size: 18px;
    font-family: "Libre Baskerville", serif;
    color: #222222;
}
@media (max-width: 480px) {
    #listing .listing-content .listing-room-list .listing-room-content header .price {
        padding-top: 10px;
    }
}
#listing .listing-content .listing-room-list .listing-room-content .listing-facitilities {
    float: left;
    width: 100%;
}
#listing .listing-content .listing-room-list .listing-room-content .facilities-list li {
    line-height: 30px;
}
#listing .listing-content .listing-room-list .listing-room-content .facilities-list li span {
    margin-left: 5px;
    color: #808080;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 1200px) {
    #listing .listing-content .listing-room-list .listing-room-content .facilities-list li span {
        font-size: 8px;
    }
}
@media (max-width: 992px) {
    #listing .listing-content .listing-room-list .listing-room-content .facilities-list li span {
        font-size: 9px;
    }
}
@media (max-width: 768px) {
    #listing .listing-content .listing-room-list .listing-room-content .facilities-list li span {
        font-size: 13px;
    }
}
#listing .listing-content .listing-room-list .listing-room-content .btn {
    padding: 10px 0;
    width: 100%;
    height: 40px;
}
#listing .listing-content .listing-room-list .listing-room-content .btn.btn-gray-dark {
    margin-top: 10px;
    /*display: none;*/
    opacity: 0;
}
#listing .listing-content .listing-room-list:hover .thumbnail .owl-buttons {
    display: block;
}
#listing .listing-content .listing-room-list:hover .btn.btn-gray-dark {
    /*display: block;*/
    opacity: 1;
}
#listing .listing-content .listing-room-grid {
    position: relative;
    padding: 5px;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#listing .listing-content .listing-room-grid .thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
}
#listing .listing-content .listing-room-grid .thumbnail img {
    width: 100%;
    height: 100%;
}
#listing .listing-content .listing-room-grid .thumbnail .owl-buttons {
    display: none;
}
#listing .listing-content .listing-room-grid .thumbnail .owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: rgba(0, 0, 0, 0.4);
}
#listing .listing-content .listing-room-grid .thumbnail .owl-prev:hover {
    background: #222222;
}
#listing .listing-content .listing-room-grid .thumbnail .owl-prev .fa {
    color: #ffffff;
}
#listing .listing-content .listing-room-grid .thumbnail .owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: rgba(0, 0, 0, 0.4);
}
#listing .listing-content .listing-room-grid .thumbnail .owl-next:hover {
    background: #222222;
}
#listing .listing-content .listing-room-grid .thumbnail .owl-next .fa {
    color: #ffffff;
}
#listing .listing-content .listing-room-grid header {
    padding-bottom: 17px;
    margin-bottom: 17px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ededed;
}
#listing .listing-content .listing-room-grid header .title {
    margin: 30px 0 5px 0;
}
#listing .listing-content .listing-room-grid header .tags li:after {
    padding-left: 10px;
    color: #808080;
    content: "/";
}
#listing .listing-content .listing-room-grid header .tags li:last-child:after {
    display: none;
}
#listing .listing-content .listing-room-grid header .tags li:first-child {
    padding-left: 0;
}
#listing .listing-content .listing-room-grid header .tags li a {
    color: #808080;
}
#listing .listing-content .listing-room-grid header .tags li a:hover {
    color: #676767;
}
#listing .listing-content .listing-room-grid .price {
    margin-bottom: 20px;
    float: left;
    width: 100%;
    display: block;
    font-size: 18px;
    font-family: "Libre Baskerville", serif;
    color: #222222;
}
@media (max-width: 480px) {
    #listing .listing-content .listing-room-grid .price {
        padding-top: 10px;
    }
}
#listing .listing-content .listing-room-grid .btn {
    margin-bottom: 30px;
}
#listing .listing-content .listing-room-grid:hover .thumbnail .owl-buttons {
    display: block;
}
/* ROOM */
#room {
    position: relative;
    padding: 0 0 60px 0;
    background: #f0f0f0;
}
#room .room-wrapper {
    margin-top: -70px;
    float: left;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#room .room-wrapper .sidebar {
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#room .room-wrapper .sidebar #map {
    width: 100%;
    height: 285px;
}
#room .room-wrapper .sidebar .widget-title {
    padding: 30px;
    margin: 0;
    border: 1px solid #ededed;
    border-width: 1px 0;
}
#room .room-wrapper .sidebar .widget-content {
    padding: 30px;
}
#room .room-wrapper .sidebar .widget-content form span {
    position: relative;
    display: block;
    margin-bottom: 20px;
}
#room .room-wrapper .sidebar .widget-content form span .fa {
    position: absolute;
    right: 25px;
    top: 18px;
    color: #808080;
    cursor: pointer;
}
#room .room-wrapper .sidebar .widget-content form span select {
    display: none;
}
#room .room-wrapper .sidebar .widget-content form span .select-clone {
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    background: #ffffff;
    border: 1px solid #ededed;
    border-width: 0 1px 1px 1px;
    z-index: 99;
}
#room .room-wrapper .sidebar .widget-content form span .select-clone li {
    padding: 20px;
    display: block;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
    color: #333333;
    text-transform: uppercase;
    font-size: 13px;
    text-align: left;
}
#room .room-wrapper .sidebar .widget-content form span .select-clone li:hover {
    background: #136084;
    color: #ffffff;
}
#room .room-wrapper .sidebar .widget-content form span .select-clone li:last-child {
    border-bottom: none;
}
#room .room-wrapper .sidebar .widget-content form h5 {
    font-family: "Libre Baskerville", serif;
    color: #222222;
    text-transform: none;
    font-style: italic;
    font-weight: normal;
}
#room .room-wrapper .sidebar .widget-content form h5 span {
    display: inline-block;
    float: right;
}
#room .room-wrapper .sidebar .widget-content form .btn {
    width: 100%;
}
#room .room-wrapper .sidebar .widget-content.offers-content {
    padding: 30px 30px 10px 30px;
}
#room .room-wrapper .sidebar .widget-content.offers-content ul li {
    margin-bottom: 20px;
    min-height: 50px;
}
#room .room-wrapper .sidebar .widget-content.offers-content ul li .title {
    padding-left: 70px;
    margin: 0 0 5px 0;
    display: block;
}
#room .room-wrapper .sidebar .widget-content.offers-content ul li .price {
    padding-left: 20px;
    font-family: "Libre Baskerville", serif;
    color: #222222;
}
@media (max-width: 1200px) {
    #room .room-wrapper .sidebar .widget-content.offers-content ul li .price {
        font-size: 11px;
    }
}
#room .room-wrapper .sidebar .widget-content.offers-content ul li .thumbnail {
    float: left;
    width: 50px;
    height: 50px;
}
#room .room-wrapper .sidebar .widget-content.offers-content ul li .thumbnail img {
    width: 100%;
    height: 100%;
}
#room .room-wrapper .sidebar .widget-content .contact-list li {
    margin-bottom: 10px;
}
#room .room-wrapper .sidebar .widget-content .contact-list li:last-child {
    margin-bottom: 0;
}
#room .room-wrapper .sidebar .widget-content .contact-list li .fa {
    color: #222222;
}
#room .room-wrapper .sidebar .widget-content .contact-list li span {
    margin-left: 10px;
    color: #808080;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#room .room-wrapper .room-content {
    padding: 0;
}
#room .room-wrapper .room-content .room-general {
    padding: 50px 50px 35px 50px;
    border-bottom: 1px solid #ededed;
}
@media (max-width: 480px) {
    #room .room-wrapper .room-content .room-general {
        padding: 25px 25px 35px 25px;
    }
}
#room .room-wrapper .room-content .room-general img {
    margin-bottom: 30px;
    width: 100%;
}
#room .room-wrapper .room-content .room-general header {
    display: inline-block;
    width: 100%;
}
@media (max-width: 480px) {
    #room .room-wrapper .room-content .room-general header .pull-right,
    #room .room-wrapper .room-content .room-general header .pull-left {
        float: none !important;
    }
}
#room .room-wrapper .room-content .room-general header .title {
    margin: 0 0 0 0;
    font-size: 30px;
    line-height: 30px;
}
#room .room-wrapper .room-content .room-general header .tags {
    padding-top: 15px;
}
#room .room-wrapper .room-content .room-general header .tags.pt-0 {
    padding-top: 0;
}
#room .room-wrapper .room-content .room-general header .tags li:after {
    padding-left: 10px;
    color: #808080;
    content: "/";
}
#room .room-wrapper .room-content .room-general header .tags li:last-child:after {
    display: none;
}
#room .room-wrapper .room-content .room-general header .tags li:first-child {
    padding-left: 0;
}
#room .room-wrapper .room-content .room-general header .tags li a {
    color: #808080;
}
#room .room-wrapper .room-content .room-general header .tags li a:hover {
    color: #676767;
}
#room .room-wrapper .room-content .room-general header .price {
    display: block;
    font-size: 30px;
    font-family: "Libre Baskerville", serif;
    color: #222222;
}
@media (max-width: 480px) {
    #room .room-wrapper .room-content .room-general header .price {
        padding-top: 10px;
    }
}
#room .room-wrapper .room-content .room-tabs {
    padding: 50px;
    border-bottom: 1px solid #ededed;
}
@media (max-width: 480px) {
    #room .room-wrapper .room-content .room-tabs {
        padding: 25px;
    }
}
#room .room-wrapper .room-content .room-about {
    padding: 50px;
    border-bottom: 1px solid #ededed;
}
#room .room-wrapper .room-content .room-about .title-section {
    margin: 0 0 40px 0;
    font-size: 18px;
}
#room .room-wrapper .room-content .room-about p {
    margin: 0;
}
#room .room-wrapper .room-content .room-tabs .nav-tabs {
    border-bottom: 1px solid #222222;
}
#room .room-wrapper .room-content .room-tabs .nav-tabs li {
    margin: 0;
    width: 160px;
}
@media (max-width: 1200px) {
    #room .room-wrapper .room-content .room-tabs .nav-tabs li {
        width: 150px;
    }
}
@media (max-width: 992px) {
    #room .room-wrapper .room-content .room-tabs .nav-tabs li {
        width: 100%;
    }
}
#room .room-wrapper .room-content .room-tabs .nav-tabs li.active a {
    background: #222222;
    border-color: #222222;
}
#room .room-wrapper .room-content .room-tabs .nav-tabs li a {
    padding: 15px 10px;
    text-align: center;
    background: #d6d6d6;
    border-color: #d6d6d6;
    color: #ffffff;
}
#room .room-wrapper .room-content .room-tabs .tab-content {
    padding: 40px 0;
}
#room .room-wrapper .room-content .room-tabs .tab-content .images-gallery {
    display: inline-block;
    width: 100%;
}
@media (max-width: 992px) {
    #room .room-wrapper .room-content .room-tabs .tab-content .images-gallery .img-single {
        margin-bottom: 30px;
    }
    #room .room-wrapper .room-content .room-tabs .tab-content .images-gallery .img-single img {
        width: 100%;
    }
}
#room .room-wrapper .room-content .room-tabs .tab-content .reviews-list li {
    position: relative;
}
#room .room-wrapper .room-content .room-tabs .tab-content .reviews-list li .thumbnail {
    position: absolute;
    width: 128px;
    height: 128px;
}
@media (max-width: 480px) {
    #room .room-wrapper .room-content .room-tabs .tab-content .reviews-list li .thumbnail {
        width: 64px;
        height: 64px;
    }
}
#room .room-wrapper .room-content .room-tabs .tab-content .reviews-list li .thumbnail img {
    width: 100%;
    height: 100%;
}
#room .room-wrapper .room-content .room-tabs .tab-content .reviews-list li .review-content {
    padding-left: 145px;
}
@media (max-width: 480px) {
    #room .room-wrapper .room-content .room-tabs .tab-content .reviews-list li .review-content {
        padding-left: 80px;
    }
}
#room .room-wrapper .room-content .room-tabs .tab-content .reviews-list li .review-content header {
    margin-bottom: 5px;
}
#room .room-wrapper .room-content .room-tabs .tab-content .reviews-list li .review-content header h5 {
    margin: 0 0 2px 0;
}
#room .room-wrapper .room-content .room-tabs .tab-content .reviews-list li .review-content header .stars li {
    padding: 0 .5px;
}
#room .room-wrapper .room-content .room-tabs .tab-content .reviews-list li .review-content header .stars li .fa {
    color: #ffcc64;
}
#room .room-wrapper .room-content .room-tabs .tab-content .reviews-list li .review-content p {
    margin: 0;
}
#room .room-wrapper .room-content .room-tabs .tab-content .listing-facitilities {
    display: inline-block;
    width: 100%;
}
#room .room-wrapper .room-content .room-tabs .tab-content .listing-facitilities .facilities-list li {
    line-height: 30px;
}
#room .room-wrapper .room-content .room-tabs .tab-content .listing-facitilities .facilities-list li span {
    margin-left: 5px;
    color: #808080;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#room .room-wrapper .room-content .room-related {
    padding: 50px 35px 20px 35px;
    display: inline-block;
    width: 100%;
}
@media (max-width: 480px) {
    #room .room-wrapper .room-content .room-related {
        padding: 25px;
    }
}
#room .room-wrapper .room-content .room-related .title-section {
    margin: 0 0 50px 15px;
}
#room .room-wrapper .room-content .room-related .listing-room-grid {
    position: relative;
    padding: 5px;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#room .room-wrapper .room-content .room-related .listing-room-grid .thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
}
#room .room-wrapper .room-content .room-related .listing-room-grid .thumbnail img {
    width: 100%;
    height: 100%;
}
#room .room-wrapper .room-content .room-related .listing-room-grid header {
    padding-bottom: 17px;
    margin-bottom: 17px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ededed;
}
#room .room-wrapper .room-content .room-related .listing-room-grid header .title {
    margin: 30px 0 5px 0;
}
#room .room-wrapper .room-content .room-related .listing-room-grid header .tags li:after {
    padding-left: 10px;
    color: #808080;
    content: "/";
}
#room .room-wrapper .room-content .room-related .listing-room-grid header .tags li:last-child:after {
    display: none;
}
#room .room-wrapper .room-content .room-related .listing-room-grid header .tags li:first-child {
    padding-left: 0;
}
#room .room-wrapper .room-content .room-related .listing-room-grid header .tags li a {
    color: #808080;
}
#room .room-wrapper .room-content .room-related .listing-room-grid header .tags li a:hover {
    color: #676767;
}
#room .room-wrapper .room-content .room-related .listing-room-grid .price {
    margin-bottom: 20px;
    float: left;
    width: 100%;
    display: block;
    font-size: 18px;
    font-family: "Libre Baskerville", serif;
    color: #222222;
}
@media (max-width: 480px) {
    #room .room-wrapper .room-content .room-related .listing-room-grid .price {
        padding-top: 10px;
    }
}
#room .room-wrapper .room-content .room-related .listing-room-grid .btn {
    margin-bottom: 30px;
}
#room .room-wrapper .room-content .room-related .listing-room-grid:hover .thumbnail .owl-buttons {
    display: block;
}
/* STAFF */
.staff {
    position: relative;
    padding: 100px 0;
    background: #ededed;
}
.staff .hotel-staffers-list .staffer-profile {
    position: relative;
    margin-bottom: 30px;
    min-height: 194px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.staff .hotel-staffers-list .staffer-profile:last-child {
    margin-bottom: 0;
}
@media (max-width: 768px) {
    .staff .hotel-staffers-list .staffer-profile:last-child {
        margin-bottom: 30px;
    }
}
.staff .hotel-staffers-list .staffer-profile .staffer-thumb {
    position: absolute;
    width: 170px;
    height: 194px;
    overflow: hidden;
}
@media (max-width: 480px) {
    .staff .hotel-staffers-list .staffer-profile .staffer-thumb {
        position: relative;
        width: 100%;
        height: 100%;
    }
}
.staff .hotel-staffers-list .staffer-profile .staffer-thumb img {
    width: 100%;
    height: 100%;
}
.staff .hotel-staffers-list .staffer-profile .staffer-profile-content {
    padding: 13px 30px 0px 195px;
    min-height: 194px;
}
@media (max-width: 480px) {
    .staff .hotel-staffers-list .staffer-profile .staffer-profile-content {
        padding: 13px 30px 25px 30px;
    }
}
.staff .hotel-staffers-list .staffer-profile .staffer-profile-content .staffer-profile-header {
    padding: 17px 0;
    margin-bottom: 17px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ededed;
}
.staff .hotel-staffers-list .staffer-profile .staffer-profile-content .staffer-profile-header .title {
    margin: 0;
    line-height: 21px;
}
@media (max-width: 480px) {
    .staff .hotel-staffers-list .staffer-profile .staffer-profile-content .staffer-profile-header .pull-right,
    .staff .hotel-staffers-list .staffer-profile .staffer-profile-content .staffer-profile-header .pull-left {
        float: none !important;
    }
}
.staff .hotel-staffers-list .staffer-profile .staffer-profile-content .staffer-profile-header .position {
    display: block;
    font-size: 14px;
    font-family: "Libre Baskerville", serif;
    color: #222222;
}
@media (max-width: 480px) {
    .staff .hotel-staffers-list .staffer-profile .staffer-profile-content .staffer-profile-header .position {
        padding-top: 10px;
    }
}
.staff .hotel-staffers-list .staffer-profile .staffer-profile-content .staffer-profile-properties {
    float: left;
    width: 100%;
}
.staff .hotel-staffers-list .staffer-profile .staffer-profile-content .staffer-profile-properties li {
    line-height: 30px;
    color: #808080;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.staff .hotel-staffers-list .staffer-profile .staffer-profile-content .staffer-profile-properties li strong {
    float: right;
}
.staff .hotel-staffers-list .staffer-profile .modal {
    padding: 50px;
    margin: 90px auto;
    width: 770px;
    bottom: auto;
    background: #ffffff;
}
.staff .hotel-staffers-list .staffer-profile .modal .modal-dialog {
    margin: 0;
    width: 100%;
    float: left;
}
.staff .hotel-staffers-list .staffer-profile .modal .modal-dialog .modal-content {
    float: left;
    width: 100%;
    border: none;
    box-shadow: none;
}
.staff .hotel-staffers-list .staffer-profile .modal .modal-dialog .modal-content .modal-body {
    padding: 0;
    float: left;
    width: 100%;
}
.staff .hotel-staffers-list .staffer-profile .modal .modal-dialog .modal-content .modal-body .img-caption {
    position: absolute;
    left: 0;
}
.staff .hotel-staffers-list .staffer-profile .modal .modal-dialog .modal-content .modal-body .img-caption img {
    width: 240px;
    height: 280px;
}
.staff .hotel-staffers-list .staffer-profile .modal .modal-dialog .modal-content .modal-body .img-caption .img-caption-inner {
    padding: 20px 0;
    background: #ededed;
}
.staff .hotel-staffers-list .staffer-profile .modal .modal-dialog .modal-content .modal-body .img-caption .img-caption-inner h5 {
    margin: 0 0 10px 0;
}
.staff .hotel-staffers-list .staffer-profile .modal .modal-dialog .modal-content .modal-body .img-caption .img-caption-inner span {
    font-size: 14px;
    font-family: "Libre Baskerville", serif;
    color: #222222;
}
.staff .hotel-staffers-list .staffer-profile .modal .modal-dialog .modal-content .modal-body .staffer-profile-content {
    padding: 0 0 0 290px;
}
.staff .hotel-staffers-list .staffer-profile .modal .modal-dialog .modal-content .modal-body .staffer-profile-content .staffer-profile-header {
    padding: 0 0 17px 0;
}
.staff .hotel-staffers-list .staffer-profile .modal .modal-dialog .modal-content .modal-body .staffer-profile-content .staffer-profile-header h5 {
    margin-top: 5px;
}
.staff .hotel-staffers-list .staffer-profile .modal .modal-dialog .modal-content .modal-body .staffer-profile-content .staffer-profile-bio {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ededed;
}
@media (max-width: 840px) {
    .staff .hotel-staffers-list .staffer-profile .modal {
        width: 600px;
    }
}
@media (max-width: 630px) {
    .staff .hotel-staffers-list .staffer-profile .modal {
        padding-left: 50px !important;
        width: 95%;
    }
    .staff .hotel-staffers-list .staffer-profile .modal .modal-dialog .modal-content .modal-body .img-caption {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .staff .hotel-staffers-list .staffer-profile .modal .modal-dialog .modal-content .modal-body .img-caption img {
        width: 100%;
        height: 100%;
    }
    .staff .hotel-staffers-list .staffer-profile .modal .modal-dialog .modal-content .modal-body .staffer-profile-content {
        padding-left: 0;
    }
}
.staff .hotel-staffers-list .staffer-profile .modal .close {
    position: absolute;
    right: -35px;
    top: -35px;
    background: transparent;
    border: none;
}
.staff .hotel-staffers-list .overlay .overlay-shadow {
    margin: 0;
}
.staff .hotel-staffers-list .overlay .overlay-shadow .overlay-content {
    margin-top: -25px;
}
/* LOCATIONS */
.locations {
    position: relative;
}
.locations .locations-top {
    position: relative;
    padding-top: 31.25%;
}
@media (max-width: 768px) {
    .locations .locations-top {
        padding-top: 56.25%;
    }
}
.locations .locations-top #location-map {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.locations .locations-bottom {
    position: relative;
    padding-top: 60px;
}
.locations .locations-bottom .location-single {
    padding: 0;
    float: left;
    width: 100%;
}
.locations .locations-bottom .location-single .offices {
    padding-bottom: 30px;
}
.locations .locations-bottom .location-single .offices .title {
    margin: 0 0 35px 0;
}
.locations .locations-bottom .location-single .offices .sub-title {
    margin: 0 0 20px 0;
}
.locations .locations-bottom .location-single .offices .location-details {
    margin-bottom: 30px;
}
.locations .locations-bottom .location-single .offices .location-details li {
    line-height: 30px;
}
@media (max-width: 1200px) {
    .locations .locations-bottom .location-single .offices .location-details {
        height: 120px;
    }
}
@media (max-width: 992px) {
    .locations .locations-bottom .location-single .offices .location-details {
        height: auto;
    }
}
@media (max-width: 992px) {
    .locations .locations-bottom .location-single .offices {
        text-align: center;
    }
}
.locations .locations-bottom .location-thumbnail {
    position: relative;
    margin-top: 60px;
}
.locations .locations-bottom .location-thumbnail .overlay img {
    width: 100%;
}
.locations .locations-bottom .location-thumbnail .overlay .overlay-shadow {
    margin: 0;
    opacity: 1;
}
.locations .locations-bottom .location-thumbnail .overlay .overlay-shadow .overlay-content {
    margin-top: -25px;
    visibility: visible;
    opacity: 1;
    transform: none;
}
/* TEAM */
.team {
    position: relative;
    padding: 100px 0 50px 0;
}
.team .member {
    margin-bottom: 40px;
}
.team .member .avatar {
    position: relative;
}
.team .member .avatar img {
    width: 100%;
    height: 100%;
}
.team .member .avatar .social {
    position: absolute;
    padding: 12px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
    background: rgba(19, 96, 132, 0.8);
}
.team .member .avatar .social li {
    margin: 0 2.5px;
}
.team .member .avatar .social li a {
    color: #ffffff;
    font-size: 18px;
}
.team .member .description {
    position: relative;
    text-align: center;
}
.team .member .description h4 {
    margin: 25px 0 5px 0;
}
.team .member .description span {
    margin-bottom: 15px;
    display: block;
    font-family: "Libre Baskerville", serif;
    color: #808080;
    font-size: 18px;
}
/* ERROR */
.error {
    position: relative;
    padding: 40px 0;
}
/* OPINIONS */
.opinions {
    position: relative;
    padding: 100px 0;
    background: #ededed;
}
.opinions .customers-list .customer-testimonial {
    position: relative;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.opinions .customers-list .customer-testimonial:last-child {
    margin-bottom: 0;
}
.opinions .customers-list .customer-testimonial .logo {
    position: absolute;
    width: 170px;
    height: 100%;
    text-align: center;
    background: #136084;
    overflow: hidden;
}
.opinions .customers-list .customer-testimonial .logo img {
    margin: 0 auto;
    max-width: 170px;
    max-height: 194px;
}
@media (max-width: 480px) {
    .opinions .customers-list .customer-testimonial .logo {
        position: relative;
        width: 100%;
        height: 194px;
    }
}
.opinions .customers-list .customer-testimonial .customer-testimonial-content {
    padding: 13px 30px 0px 195px;
    float: left;
    width: 100%;
    min-height: 194px;
}
@media (max-width: 480px) {
    .opinions .customers-list .customer-testimonial .customer-testimonial-content {
        padding: 13px 30px 25px 30px;
    }
}
.opinions .customers-list .customer-testimonial .customer-testimonial-content .customer-testimonial-header {
    padding: 17px 0;
    margin-bottom: 17px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ededed;
}
.opinions .customers-list .customer-testimonial .customer-testimonial-content .customer-testimonial-header .name {
    margin: 0;
    line-height: 21px;
}
@media (max-width: 480px) {
    .opinions .customers-list .customer-testimonial .customer-testimonial-content .customer-testimonial-header .pull-right,
    .opinions .customers-list .customer-testimonial .customer-testimonial-content .customer-testimonial-header .pull-left {
        float: none !important;
    }
}
.opinions .customers-list .customer-testimonial .customer-testimonial-content .customer-testimonial-header .position {
    display: block;
    font-size: 14px;
    font-family: "Libre Baskerville", serif;
    color: #222222;
}
@media (max-width: 480px) {
    .opinions .customers-list .customer-testimonial .customer-testimonial-content .customer-testimonial-header .position {
        padding-top: 10px;
    }
}
.opinions .customers-list .customer-testimonial .customer-testimonial-content blockquote {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    font-size: 15px;
    font-style: italic;
    line-height: 30px;
    border: none;
}
/* NEWS */
.news {
    position: relative;
    padding: 100px 0;
    background: #ededed;
}
.news .post {
    position: relative;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.news .post .post-thumbnail img {
    width: 100%;
}
.news .post .post-content {
    padding: 13px 30px 30px 30px;
}
.news .post .post-content .post-header {
    padding: 17px 0;
    margin-bottom: 17px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ededed;
}
.news .post .post-content .post-header .title {
    margin: 0;
    line-height: 21px;
}
@media (max-width: 480px) {
    .news .post .post-content .post-header .pull-right,
    .news .post .post-content .post-header .pull-left {
        float: none !important;
    }
}
.news .post .post-content .post-header .date {
    display: block;
    font-size: 14px;
    font-family: "Libre Baskerville", serif;
    color: #222222;
}
@media (max-width: 480px) {
    .news .post .post-content .post-header .date {
        padding-top: 10px;
    }
}
.news .post .post-content .post-meta {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.news .post .post-content .post-meta span {
    margin-right: 10px;
}
.news .post .post-content .post-meta span a {
    color: #808080;
}
.news .post .post-content .post-meta span .fa {
    margin-right: 3px;
    color: #136084;
}
.news .post .post-content p {
    margin-bottom: 20px;
}
.news .post .post-content .tags-list {
    margin-bottom: 25px;
    float: left;
    width: 100%;
}
.news .post .post-content .tags-list li {
    padding: 0;
    margin: 0 7px 7px 0;
    float: left;
}
.news .post .post-content .tags-list li a {
    padding: 5px 10px;
    display: block;
    border: 1px solid #ededed;
}
.news .post .post-content .post-share {
    padding: 12px 20px;
    margin-bottom: 25px;
    float: left;
    width: 100%;
    background: #ededed;
}
.news .post .post-content .post-share p {
    margin: 0;
    line-height: 26px;
}
.news .post .post-content .post-share .social li a {
    font-size: 18px;
}
.news .post .post-content .post-share .social li a:hover {
    color: #136084;
}
.news .post .post-content .post-comments .post-comments-title {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ededed;
}
.news .post .post-content .post-comments .comments li {
    list-style: none;
}
.news .post .post-content .post-comments .comments li .comment {
    position: relative;
    padding-bottom: 20px;
    min-height: 100px;
}
.news .post .post-content .post-comments .comments li .comment .avatar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
}
.news .post .post-content .post-comments .comments li .comment .avatar img {
    width: 100%;
    height: 100%;
}
.news .post .post-content .post-comments .comments li .comment .post-comment-meta {
    padding-left: 120px;
    margin-bottom: 3px;
}
.news .post .post-content .post-comments .comments li .comment .post-comment-meta span {
    color: #808080;
    text-transform: uppercase;
    font-size: 13px;
}
.news .post .post-content .post-comments .comments li .comment .post-comment-meta span a {
    color: #808080;
}
.news .post .post-content .post-comments .comments li .comment .post-comment-content {
    padding-left: 120px;
}
.news .post .post-content .post-comments .comments li .comment .post-comment-content p {
    margin: 0 0 10px 0;
    line-height: 24px;
}
.news .post .post-content .post-addcomment .post-addcomment-title {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ededed;
}
.news .listing-pagination {
    position: relative;
    padding: 20px 30px;
    float: left;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 992px) {
    .news .listing-pagination {
        margin-bottom: 30px;
    }
}
.news .listing-pagination .pagination {
    text-align: center;
}
.news .listing-pagination .pagination li a {
    padding: 6px 0;
    display: inline-block;
    color: #808080;
}
.news .sidebar {
    position: relative;
}
.news .sidebar .sidebar-widget {
    float: left;
    width: 100%;
}
.news .sidebar .sidebar-widget .search-form {
    position: relative;
}
.news .sidebar .sidebar-widget .search-form input {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.news .sidebar .sidebar-widget .search-form button {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
}
.news .sidebar .sidebar-widget .widget-title {
    margin: 25px 0;
}
.news .sidebar .sidebar-widget .list {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.news .sidebar .sidebar-widget .list li:first-child a {
    padding-top: 5px;
}
.news .sidebar .sidebar-widget .list li a {
    padding: 15px 0;
    display: block;
    border-bottom: 1px solid #ededed;
}
.news .sidebar .sidebar-widget .list li a:before {
    margin-right: 10px;
    font-family: FontAwesome;
    font-size: 14px;
    content: "\f0da";
    color: #136084;
}
.news .sidebar .sidebar-widget .tags-list li {
    padding: 0;
    margin: 0 7px 7px 0;
    float: left;
}
.news .sidebar .sidebar-widget .tags-list li a {
    padding: 5px 10px;
    display: block;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* CONTACT */
#contact-map {
    width: 100%;
}
.container {
    position: relative;
}
.container .contact-box {
    position: absolute;
    right: 15px;
    top: 0;
    width: 475px;
    z-index: 1;
}
.container .contact-box .preamble {
    padding: 0;
    margin: 0 0 20px 0;
}
.container .contact-box .preamble h3 {
    color: #ffffff;
}
.container .contact-box .preamble h3:after {
    color: #ffffff;
}
.container .contact-box .contact-form {
    position: relative;
    padding: 30px;
    width: 100%;
    float: left;
    background: rgba(0, 0, 0, 0.65);
}
.container .contact-box .contact-form input {
    position: relative;
    margin-bottom: 20px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.container .contact-box .contact-form textarea {
    position: relative;
    margin-bottom: 20px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.container .contact-box .contact-form span {
    position: relative;
    display: inline-block;
    width: 100%;
}
.container .contact-box .contact-form span .select-clone {
    position: absolute;
    margin-top: -20px;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
    background: #ffffff;
    z-index: 99;
}
.container .contact-box .contact-form span .select-clone li {
    padding: 20px;
    display: block;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
    color: #333333;
    text-transform: uppercase;
    font-size: 13px;
    text-align: left;
}
.container .contact-box .contact-form span .select-clone li:hover {
    background: #136084;
    color: #ffffff;
}
.container .contact-box .contact-form span .select-clone li:last-child {
    border-bottom: none;
}
.container .contact-box .contact-form span .fa {
    position: absolute;
    padding: 5px;
    margin-top: -20px;
    right: 10px;
    top: 50%;
    color: #ffffff;
    cursor: pointer;
}
.container .contact-box .contact-form .btn {
    margin: 0 auto;
}
@media (max-width: 992px) {
    .container .contact-box {
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}
@media (max-width: 480px) {
    .container .contact-box {
        width: 345px;
    }
    .container .contact-box .contact-form .heading span:before {
        left: -132px;
        width: 100px;
    }
    .container .contact-box .contact-form .heading span:after {
        width: 100px;
    }
}
.contact {
    position: relative;
}
.contact .locations {
    padding: 60px 0 0 0;
    float: left;
    width: 100%;
}
.contact .locations .offices {
    padding-bottom: 30px;
}
.contact .locations .offices .title {
    margin: 0 0 35px 0;
}
.contact .locations .offices .sub-title {
    margin: 0 0 20px 0;
}
.contact .locations .offices .location-details {
    margin-bottom: 30px;
}
.contact .locations .offices .location-details li {
    line-height: 30px;
}
@media (max-width: 1200px) {
    .contact .locations .offices .location-details {
        height: 120px;
    }
}
@media (max-width: 992px) {
    .contact .locations .offices .location-details {
        height: auto;
    }
}
@media (max-width: 992px) {
    .contact .locations .offices {
        text-align: center;
    }
}

.list-inline > li {
    display: inline-block!important;
}

.page-message {
    z-index: 9999999;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    width: 95%;
    max-width: 530px;
    margin: auto;
    border-radius: 4px;
    padding: 5px 15px;
    box-shadow: 0px 0px 50px black;
}
.page-error-message {
    color: white;
    background-color: red;
}
.page-success-message {
    color: black;
    background-color: #00ff00;
}

.pagination>li>a, .pagination>li>span {
    border: none;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background-color: inherit;
    border: none;
}