.userListTable th {
    text-align: center!important;
}
.userListTable td {
    vertical-align: middle!important;
}

.userListTable .edited .action .update {
    display: inline-block;
}
.userListTable .action .update {
    display: none;
}